/* General Styles */
body {
  padding-top: 80px;
  padding-left: 20px;
  min-height: calc(100vh - 90px);
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  background: linear-gradient(to bottom, #8cc2ff, #928dab); 
  color: #333; 
}

h1 {
  text-transform: uppercase;
  color: #555; 
  font-size: 36px; 
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #007bff; 
}

/* Navigation Styles */
nav {
  position: fixed; 
  top: 0;
  left: 0;
  right: 0;
  height: 60px; 
  display: flex;
  align-items: center; 
  background-color: #222; 
}

nav ul {
  display: flex;
}

nav a {
  min-height: 60px;
  display: flex;
  padding: 10px 20px;
  line-height: 60px;
}

/* Article Styles */
article {
  position: relative; 
  background-color: #f9f9f9; 
  padding: 20px; 
  border-radius: 5px; 
  margin-bottom: 20px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.info {
  display: flex;
  justify-content: space-between;
}

.post .info {
  justify-content: flex-start;
  gap: 20px; 
}

h2 a {
  color: #007bff; 
}

/* Form Styles */
form {
  background-color: #f9f9f9; 
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

form div {
  margin-bottom: 20px;
}

form div label {
  display: block; 
  font-weight: bold; 
}

.form-info {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

input,
textarea {
  min-height: 40px; 
  border: 1px solid #ccc; 
  background-color: #f5f5f5;
  color: #333;
  font-size: 18px;
  padding: 5px 10px; 
  outline: none;
  border-radius: 3px; 
}

textarea {
  resize: vertical; 
}

.form-button {
  display: flex;
  justify-content: flex-end;
}

.form-button input {
  text-transform: uppercase;
  padding: 10px 20px; 
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  transition: background-color 0.3s ease; 
}

.form-button input:hover {
  background-color: #0056b3; /
}

/* Home and Error Page Styles */
.home,
.error {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  background: linear-gradient(to bottom, #8cc2ff, #928dab);
  color: #333;
}

.error h1 {
  margin-top: 0;
  font-size: 48px; 
  color: #007bff; 
}

.contacts li {
  list-style-type: none; 
  padding-left: 10px;
  margin-bottom: 10px;
}

.error-code {
  text-transform: uppercase;
  font-size: 160px;
  margin-bottom: 20px;
}

/* Button Styles */
.btn-edit,
.btn-delete {
  position: absolute;
  top: 10px; 
  text-transform: uppercase;
  padding: 10px 15px;
  cursor: pointer;
  border: none;
  background-color: #007bff;
  color: #fff;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btn-edit {
  right: 80px;
}

.btn-delete {
  right: 15px;
}

.btn-edit:hover,
.btn-delete:hover {
  background-color: #0056b3;
}

a {
  text-decoration: none;
  color: #007bff;
  transition: color 0.3s ease; 
}

a:hover {
  color: #0056b3; 
}

/* Specific Link Styles for .contacts-link */
.contacts-link {
  color: #f00;
  font-weight: bold; 
  border-bottom: 2px solid #f00; 
  transition: color 0.3s ease, border-bottom-color 0.3s ease; 
}

.contacts-link:hover {
  color: #c30000; 
  border-bottom-color: #c30000; 
}